* {
    background-color: rgb(36, 36, 36);
    color: white;
}

#center{
    text-align: center;
}

h1{
    font-size: 52px;
    font-weight: bold;
}

.chef{
    height: auto;
    width: 500px;
}

h2{
    font-size: 42px;
    font-weight: bold;
}

h3{
    font-size: 36px;
    font-weight: bold;
}

p{
    font-size: 24px;
}

.bread{
    height: auto;
    width: 600px;
}

ul{
    display: inline-block;
}

ol{
    list-style-position: inside;
}

.chicken{
    height: auto;
    width: 600px;
}

.pancake{
    height: auto;
    width: 700px;
}